.checkbox-container {
    margin: 0.4rem;
    text-align: left;
}

.checkbox-row {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 1rem;
}

.checkbox-row input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: transparent;
    border: 3px solid #97A0AF;
    border-radius: 4px;
}

.checkbox-row input:checked~.checkmark {
    background-color: #2196F3;
    border: none;
    transition: 0.3s;
}

.checkbox-row input:disabled~.checkmark {
    background-color: #EDEFF1;
    border: 2px solid #DCDFE4;
    color: #B1B8C3;
}

.checkbox-row input:disabled~.checkmark::after {
    border-color: #B1B8C3;
    top: 2px;
    left: 6px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-row input:checked~.checkmark:after {
    display: block;
}

.checkbox-row .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}